@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 1.6rem;
  letter-spacing: -1px;
  color: black;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

a:link a:visited {
  color: black;
}
a:hover {
  color: #404040;
}
a:active {
  color: #808080;
}

.link {
  text-decoration: none;
}
